body {
	color: white;
	background-color: #212121;
	font-family: ui-sans-serif;
	padding: 18px;
}

article:has(h5) {
	width: 300px; /* Adjust width as needed */
	margin-left: auto; /* Pushes it to the right */
	margin-right: 0;
}

button:not(:has(img)), .katex-html, svg,
div[class^="draggable no-draggable-children sticky top-0"] {
	display: none;
}

button:has(img) {
	height: auto;
	max-width: 50%;
}

img, video {
	height: auto;
	max-width: 100%;
}

code {
	background-color: #424242;
}

.katex {
	font-size: 1.2em;
}
